<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        https://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--开启SpringMVC的IOC注解扫描 @Controller-->
    <context:component-scan base-package="com.woniuxy.controller"/>

    <!--开启MVC注解驱动-->
    <mvc:annotation-driven></mvc:annotation-driven>

    <!--静态资源放行[使用的是默认的tomcat中配置的DefaultServlet]-->
    <mvc:default-servlet-handler/>

    <!--配置SpringMVC的视图解析器 /WEB-INF/对外界受保护的目录-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/"/>
        <property name="suffix" value=".html"/>
    </bean>

</beans>