<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="GBK">
    <title>Title</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="js/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="js/showImg.js"></script>
</head>
<body>
<div>
    <div id="app">
        <!--1.添加的模态框-->
        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">添加app</h4>
                    </div>
                    <div class="modal-body">
                        <form class="text-center form-inline" id="addFormId">
                            <p>
                                <img src="" height="100px" width="100px" id="addImg">
                            </p>

                            <p>
                                app名称:<input type="text" name="appName" class="form-control" style="width:400px"
                                             placeholder="请输入app名称">
                            </p>
                            <p>
                                app大小:<input type="text" name="appSize" class="form-control" style="width:400px"
                                             placeholder="请输入大小">
                            </p>
                            <p>
                                app类型:
                                <select class="form-control" style="width:400px" name="appType">
                                    <option value="">请选择类型</option>
                                    <option value="娱乐">娱乐</option>
                                    <option value="办公">办公</option>
                                </select>
                            </p>
                            <p>
                                app平台:
                                <select class="form-control" style="width:400px" name="appPlatform">
                                    <option value="">请选择平台</option>
                                    <option value="魔方云">魔方云</option>
                                    <option value="伙伴云">伙伴云</option>
                                    <option value="云表">云表</option>
                                    <option value="狐表">狐表</option>
                                </select>
                            </p>

                            <p>
                                下载次数:<input type="number" name="appCount" min="0" value="0" class="form-control"
                                            style="width:400px" placeholder="请输入下载次数" readonly>
                            </p>

                            <p>
                                app图片:<input type="file" onchange="getImg(this,addImg)" name="appImg"
                                             class="form-control" style="width:400px">
                            </p>

                            <p>
                                <button type="button" class="btn btn-info" @click="addApp()">确认添加</button>
                                <button type="button" class="btn btn-info" data-dismiss="modal">返回首页</button>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <!--2.修改的模态框-->
        <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">修改app</h4>
                    </div>
                    <div class="modal-body">
                        <form class="text-center form-inline" id="updateFormId">
                            <p>
                                <img :src="updateApp.appImg" height="100px" width="100px" id="updateImg">
                            </p>
                            <p>
                                app编号:<input readonly type="text" :value="updateApp.id" name="id" class="form-control"
                                             style="width:400px" placeholder="请输入app编号">
                            </p>
                            <p>
                                app名称:<input type="text" name="appName" :value="updateApp.appName" class="form-control"
                                             style="width:400px" placeholder="请输入app名称">
                            </p>
                            <p>
                                app大小:<input type="text" name="appSize" :value="updateApp.appSize" class="form-control"
                                             style="width:400px" placeholder="请输入大小">
                            </p>
                            <p>
                                app类型:
                                <select class="form-control" style="width:400px" name="appType"
                                        :value="updateApp.appType">
                                    <option>请选择类型</option>
                                    <option>娱乐</option>
                                    <option>办公</option>
                                </select>
                            </p>
                            <p>
                                app平台:
                                <select class="form-control" style="width:400px" name="appPlatform"
                                        :value="updateApp.appPlatform">
                                    <option>魔方云</option>
                                    <option>伙伴云</option>
                                    <option>云表</option>
                                    <option>狐表</option>
                                </select>
                            </p>
                            <p>
                                下载次数:<input type="number" :value="updateApp.appCount" name="appCount" min="0" value="0"
                                            class="form-control"
                                            style="width:400px" placeholder="请输入下载次数" readonly>
                            </p>
                            <p>
                                app图片:<input type="file" onchange="getImg(this,updateImg)" name="appImg"
                                             class="form-control" style="width:400px">
                            </p>

                            <p>
                                <button type="button" class="btn btn-info" @click="toUpdateApp">确认修改</button>
                                <button type="button" class="btn btn-info" data-dismiss="modal">返回首页</button>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row table-bordered" style="margin-top: 20px;line-height: 100px">
                        <div class="col-md-8 form-inline text-center">
                            <form id="searchFormId">
                                <input type="hidden" name="nowPage" id="nowPage">
                                名称:<input type="text" placeholder="请输入软件名称" class="form-control" style="width: 150px"
                                          name="appName">
                                类型:
                                <select class="form-control" name="appType">
                                    <option value="">请选择类型</option>
                                    <option value="娱乐">娱乐</option>
                                    <option value="办公">办公</option>
                                </select>
                                软件平台:
                                <select class="form-control" name="appPlatform">
                                    <option value="">请选择平台</option>
                                    <option value="魔方云">魔方云</option>
                                    <option value="伙伴云">伙伴云</option>
                                    <option value="云表">云表</option>
                                    <option value="狐表">狐表</option>
                                </select>
                                <input type="button" class="btn btn-primary" value="搜索" @click="searchApp()">
                            </form>
                        </div>

                        <div class="col-md-4 navbar-right text-center">
                            <button type="button" class="btn btn-warning " @click="deleteAll">
                                <span class="glyphicon glyphicon-plus"></span>批量删除
                            </button>
                            <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#addModal">
                                <span class="glyphicon glyphicon-plus"></span>添加
                            </button>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 20px">
                        <table class="table-bordered col-md-12 text-center">
                            <tr style="line-height: 50px">
                                <td><input type="checkbox" class="all" id="all"> 全选/全消</td>
                                <td>编号</td>
                                <td>名称</td>
                                <td>大小</td>
                                <td>类型</td>
                                <td>软件平台</td>
                                <td>下载次数</td>
                                <td>图片</td>
                                <td colspan="2">操作</td>
                            </tr>
                            <tbody>
                            <tr v-for="(app,index) in appList" :key="index">
                                <td>选择<input type="checkbox" name="sel" class="sel" :value="app.id" v-model="ids"></td>
                                <td>{{app.id}}</td>
                                <td>{{app.appName}}</td>
                                <td>{{app.appSize}}M</td>
                                <td>{{app.appType}}</td>
                                <td>{{app.appPlatform}}</td>
                                <td>{{app.appCount}}次</td>
                                <td>
                                    <img :src="app.appImg" width="50px">
                                </td>
                                <td>
                                    <button class="btn btn-danger" type="button" @click="deleteById(app.id)">
                                        <span class="glyphicon glyphicon-remove"></span>删除
                                    </button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary" @click="showApp(index)"
                                            data-toggle="modal" data-target="#updateModal">
                                        <span class="glyphicon glyphicon-edit"></span>修改
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-center">
                        <ul class="pagination">
                            <li @click="prevPage(currentPage)"><a href="javascript:void(0)">&laquo;</a></li>
                            <li v-for="page in pageList" @click="changePage(page)"><a href="javascript:void(0)">{{page}}</a></li>
                            <li @click="nextPage(currentPage)"><a href="javascript:void(0)">&raquo;</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript">
    let vue = new Vue({
        el: "#app",
        data: {
            appList: [],//app列表数据
            pageList: [],//app的分页数据
            updateApp: {},//修改的app对象
            app: {nowPage: ""},//记录页码的
            ids: [],
            totalPage: 0,
            currentPage: 1,
        }, methods: {
            queryApp(nowPage) {
                $('#nowPage').val(nowPage)
                $.ajax({
                    url: "app/query",
                    dataType: "json",
                    type: "get",
                    data: $("#searchFormId").serialize(),
                    success: (info) => {
                        this.appList = info.list;
                        this.pageList = info.navigatepageNums;
                        this.totalPage = info.pages;
                        this.currentPage = info.pageNum;
                    }
                });
            }, showApp(index) {
                this.updateApp = this.appList[index];
            }, changePage(nowPage) {
                this.queryApp(nowPage);
            }, prevPage(num) {
                if (num == 1) {
                    num = this.totalPage;
                } else {
                    num = num - 1;
                }
                this.queryApp(num)
            }, nextPage(num) {
                if (num == this.totalPage) {
                    num = 1;
                } else {
                    num = num + 1;
                }
                this.queryApp(num)
            },searchApp() {
                this.queryApp(1);
            }, addApp() {
                $.ajax({
                    url: "app/add",
                    data: new FormData($("#addFormId")[0]),
                    dataType: "text",
                    type: "post",
                    processData: false,
                    contentType: false,
                    success: (text) => {
                        if ("Y" == text) {
                            alert("添加成功")
                            this.queryApp(this.currentPage);
                        } else if ("N" == text) {
                            alert("添加失败")
                        }
                        $('#addModal').modal('hide');
                    }
                })
            }, toUpdateApp() {
                $.ajax({
                    url: "app/update",
                    dataType: "text",
                    type: "post",
                    processData: false,
                    contentType: false,
                    data: new FormData($("#updateFormId")[0]),
                    success: (text) => {
                        if ("Y" == text) {
                            alert("修改成功")
                            this.queryApp(this.currentPage);
                        } else if ("N" == text) {
                            alert("修改失败")
                        }
                        $('#updateModal').modal('hide');
                    }
                })
            }, checkBoxClick() {
                let $checkApp = $('input[name="sel"]');
                let total = $('input[name="sel"]').length;
                $('#all').prop("checked", false);
                $checkApp.prop("checked", false);

                //全选全消
                $('#all').click(function () {
                    let flag = this.checked;
                    $checkApp.prop("checked", flag);
                });
                $checkApp.click(function () {
                    let count = $('input[name="sel"]').filter(":checked").length;
                    $('#all').prop("checked", count === total);
                });
            }, deleteAjax(ids) {
                $.ajax({
                    url: "app/delete",
                    type: "post",
                    traditional: "true",//数组选项
                    data: {ids: ids},
                    dataType: "text",
                    success: (text) => {
                        if ("Y" == text) {
                            alert("删除成功")
                            this.queryApp(this.currentPage);
                        } else if ("N" == text) {
                            alert("删除失败")
                        }
                    }
                })
            }, deleteById(id) {
                let flag = confirm("您确认要删除" + id + "号APP吗?");
                if (flag) {
                    this.deleteAjax(id);
                }
            }, deleteAll() {
                let $ids = $('input[name="sel"]').filter(":checked")
                if ($ids.length === 0) {
                    alert("没有选择的app")
                    return;
                }
                let ids = [];
                let idStr = "";
                for (let i = 0; i < $ids.length; i++) {
                    ids[i] = $ids.eq(i).val();
                    idStr += ids[i];
                    if (i != $ids.length - 1) {
                        idStr += ",";
                    }
                }
                let flag = confirm("您确认要删除" + idStr + "号App吗?");
                if (flag) {
                    this.deleteAjax(ids);
                }
            }
        }, created() { //vue加载完毕之后自动调用此函数
            this.queryApp(1);//默认打开浏览器 默认查询第一页的数据
        },updated(){
            this.checkBoxClick();
        }

    })
</script>

</body>
</html>
