<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           https://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/mvc
                           https://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--设置注解扫描范围-->
    <context:component-scan base-package="com.woniuxy.controller"></context:component-scan>




    <!--配置 处理器映射器  处理器适配器的支持-->
    <mvc:annotation-driven >
        <!--配置支持json-->
        <mvc:message-converters register-defaults="true">
            <bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>text/html;charset=UTF-8</value>
                        <value>application/json</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>
    <!--配置视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="WEB-INF/"></property>
        <property name="suffix" value=".html"></property>
    </bean>


    <!--放行静态资源-->
    <mvc:default-servlet-handler></mvc:default-servlet-handler>


    <!--配置拦截器
        /**:代表拦截所有
        /user/*:拦截所有user路径下所有的springMVC请求
    -->
<!--    <mvc:interceptors>-->
<!--        <mvc:interceptor>-->
<!--            <mvc:mapping path="/**"/>-->
<!--            &lt;!&ndash;设置放行&ndash;&gt;-->
<!--            <mvc:exclude-mapping path="/login.html"/>-->
<!--            <mvc:exclude-mapping path="/loginUser"/>-->
<!--            <mvc:exclude-mapping path="/index.html"/>-->
<!--            <mvc:exclude-mapping path="/restful/*/*/*"/>-->
<!--            <mvc:exclude-mapping path="/WEB-INF/success.html"/>-->
<!--            <bean class="com.woniuxy.intercepter.LoginInterceptor"/>-->
<!--        </mvc:interceptor>-->

<!--        <mvc:interceptor>-->
<!--            <mvc:mapping path="/**"/>-->
<!--            &lt;!&ndash;设置放行&ndash;&gt;-->
<!--            <mvc:exclude-mapping path="/login"/>-->
<!--            <mvc:exclude-mapping path="/register"/>-->
<!--            <mvc:exclude-mapping path="/index.html"/>-->
<!--            <mvc:exclude-mapping path="/WEB-INF/index.html"/>-->
<!--            <bean class="com.woniuxy.intercepter.Interceptor1"/>-->
<!--        </mvc:interceptor>-->
<!--        <mvc:interceptor>-->
<!--            <mvc:mapping path="/**"/>-->
<!--            &lt;!&ndash;设置放行&ndash;&gt;-->
<!--            <mvc:exclude-mapping path="/login"/>-->
<!--            <mvc:exclude-mapping path="/register"/>-->
<!--            <mvc:exclude-mapping path="/index.html"/>-->
<!--            <mvc:exclude-mapping path="/WEB-INF/index.html"/>-->
<!--            <bean class="com.woniuxy.intercepter.Interceptor2"/>-->
<!--        </mvc:interceptor>-->
<!--        <mvc:interceptor>-->
<!--            <mvc:mapping path="/**"/>-->
<!--            &lt;!&ndash;设置放行&ndash;&gt;-->
<!--            <mvc:exclude-mapping path="/login"/>-->
<!--            <mvc:exclude-mapping path="/register"/>-->
<!--            <mvc:exclude-mapping path="/index.html"/>-->
<!--            <mvc:exclude-mapping path="/WEB-INF/index.html"/>-->
<!--            <bean class="com.woniuxy.intercepter.Interceptor3"/>-->
<!--        </mvc:interceptor>-->

<!--    </mvc:interceptors>-->


</beans>